/* Styling for the overall page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/1280px-stormclouds-thumb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* Styling for the main heading */
h1 {
  text-align: center;
}
form {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
}

button {
  padding: 5px 10px;
}

.weather-box {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}
/* Styling for the forecast container. Uses flexbox for layout, margins, and centers it */
.forecast-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* Styling for the forecast title, adds a bottom margin */
.forecast-title {
  margin-bottom: 10px;
}

/* Styling for the forecast boxes */
.forecast-box {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s ease;
}
/* Styling for the forecast boxes on hover and scales it */
.forecast-box:hover {
  transform: scale(1.1);
}
/* Styling for the weather icon inside the forecast box */
.forecast-box img {
  width: 100px; 
  height: 100px; 
}
/*------------------ Styling for the different weather classes ------------------*/
.cloudy {
  background-color: #ccc;
}
.rainy {
  background-color: lightblue;
}
.snowy {
  background-color: white;
}
.sunny {
  background-color: yellow;
}
.other {
  background-color: lightgray;
}
/*---------------- END Styling for the different weather classes ----------------*/

#cityInput,
#forecastHours,
[type="submit"] {
  width: 200px;
  height: 40px;
}